.techItem {
    width: 160px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    /* background-color: rgb(239, 238, 238); */
}

.techItemImg {
    height: 160px;
    padding: 20px 20px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 576px) {
    .techItem {width: 130px;}
}