* {
    box-sizing: border-box;
    overflow-x: hidden;
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;
}

:root {
    --theme-color: rgb(10, 25, 47);
    --theme-off-color: rgb(136, 146, 176);
    --fnt-hero-title: 75px
}

h1,
h2,
h3,
h4,
h5,
h6 {
    overflow: hidden;
    font-family: Outfit,sans-serif;
}

.navbar-toggler:focus {
    outline: 0 !important;
    box-shadow: none;
}

.sectionHeaderTitle {
    position: relative;
    font-weight: 800;
    font-size: 36px;
    text-transform: uppercase;
    color: var(--theme-off-color);
    /* color: rgb(14, 102, 150); */
    margin-bottom: 40px;
}

.sectionDefaultMargin {
     margin-bottom:0px;
}
.TopNavStyle_topNavContainer__MRqSu {
    background: rgba(10, 25, 47, .5) !important  ;
}
.HomeBanner_homeBannerContainer__38QRE {
    box-sizing: border-box;
    width: 100vw;
    background:url(../../../public/images/homapageBanner-1-min.webp) no-repeat !important;
    background-size: cover !important;
}
.serviceSection{
    background: #02013a;
    padding: 60px 0;
}
.solutionTitle h4{
    position: relative;
    padding-left: 120px;
    color: #FFF;
    font-family: Outfit,sans-serif;
    font-size: 25px;
}
.solutionTitle h4::before{
    position: absolute;
    width: 100px;
    height: 5px;
    background: #FFF;
    content: "";
    top:15px;
    left: 0px;
}
.solutionTitle h2{
    color: #FFF;
    font-family: Outfit,sans-serif;
    font-size: 35px;
    margin-top:15px;
}
.howItWorkBox .card{
    border-radius: 10px!important;
    background: #02013a;
    border: 1px solid transparent;
}
.howItWorkBox .card .card-body{
    padding: 35px;
    margin-bottom: 0px;
    position: relative;
    z-index: 2;
    box-sizing: border-box;
    transition-property: color, background, box-shadow;
    transition-timing-function: ease;
    transition-duration: 500ms;
}
.howItWorkBox h4 {
    font-weight: 700;
    font-size: 22px;
    color: #dfdeff;
    margin-top: 30px;
}
.howItWorkBox p {
    font-weight: 400;
    font-size: 17px;
    line-height: 22px;
    color: #b3b2dd;
    margin-top: 30px;
}
.howItWorkBox:nth-child(1) .card {border:1px solid #ff6b00; }
.howItWorkBox:nth-child(2) .card{border:1px solid #146ef5; }
.howItWorkBox:nth-child(3) .card{border:1px solid #ed52cb; }
.howItWorkBox:nth-child(4) .card{border:1px solid #00d722; }
.howItWorkBox:nth-child(1):hover .card {border:1px solid #ff6b00; background: #ff6b00;}
.howItWorkBox:nth-child(2):hover .card{border:1px solid #146ef5; background: #146ef5;}
.howItWorkBox:nth-child(3):hover .card{border:1px solid #ed52cb; background: #ed52cb;}
.howItWorkBox:nth-child(4):hover .card{border:1px solid #00d722; background: #00d722;}

.howItWorkBox:nth-child(1):hover h4,
.howItWorkBox:nth-child(1):hover p,
.howItWorkBox:nth-child(2):hover h4,
.howItWorkBox:nth-child(2):hover p,
.howItWorkBox:nth-child(3):hover h4,
.howItWorkBox:nth-child(3):hover p,
.howItWorkBox:nth-child(4):hover h4,
.howItWorkBox:nth-child(4):hover p{
    color: #000;
}
.howItWorkBox:hover img{filter: invert(1); }

.aboutSection{
    background:url(../../../public/images/about-line.png) no-repeat bottom center #f3f7fb;
    padding: 60px 0;
    color: #4a4a4a;
    font-family: "Poppins", sans-serif;
}
.aboutSection h4{
    background:url(../../../public/images/section-title.png) no-repeat 0px 5px;
    padding-left: 45px;
    font-size: 18px;
    color: #3c72fc;
}
.aboutSection h1{
    font-size: 40px;
    color: #171660;
    font-weight: 700;
}
.aboutSection p{
    color: #6b6b6b;
    line-height: 28px;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 300
}
.aboutSection ul{
    padding: 0px;
    margin: 0px;
}
.aboutSection ul li{
    padding: 5px 0px;
    margin: 0px;
}
.aboutSection ul li svg{
    margin-right: 8px;
    color: #396df1;
}
.readMore{
    padding: 12px 25px;
    background: #0a53be;
    font-family: "Poppins", sans-serif;
}
.portfolioSection{
    padding: 60px 0;
    background: #f3f7fb;
}

.HomeBanner_heroTitle__0G7bl {
    font-size: 50px;
    color: white;
    font-weight: 600 !important;
    line-height: 70px;
}
.HomeBanner_heroSecondTitle__plpGF {
    font-weight: 600!important;
    line-height: 90px;
    word-spacing: 10px;
}

@media (max-width: 576px) {
    .sectionHeaderTitle {
        font-size: 29px;
    }
}