* {
    box-sizing: border-box;
    overflow-x: hidden;
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;
}

:root {
    --theme-color: rgb(10, 25, 47);
    --theme-off-color: rgb(136, 146, 176);
    --fnt-hero-title: 75px
}

h1,
h2,
h3,
h4,
h5,
h6 {
    overflow: hidden;
    font-family: Outfit,sans-serif;
}

.navbar-toggler:focus {
    outline: 0 !important;
    box-shadow: none;
}

.sectionHeaderTitle {
    position: relative;
    font-weight: 800;
    font-size: 36px;
    text-transform: uppercase;
    color: var(--theme-off-color);
    /* color: rgb(14, 102, 150); */
    margin-bottom: 40px;
}

.sectionDefaultMargin {
    margin-bottom: 80px;
}
.TopNavStyle_topNavContainer__MRqSu {
    background: rgba(10, 25, 47, .5) !important  ;
}
.HomeBanner_homeBannerContainer__38QRE {
    box-sizing: border-box;
    width: 100vw;
    background:url(../../../public/images/homapageBanner-1-min.webp) no-repeat !important;
    background-size: cover !important;
}
.serviceSection{
    background: #02013a;
    padding: 60px 0;
}
.solutionTitle h4{
    position: relative;
    padding-left: 120px;
    color: #FFF;
    font-family: Outfit,sans-serif;
    font-size: 25px;
}
.solutionTitle h4::before{
    position: absolute;
    width: 100px;
    height: 5px;
    background: #FFF;
    content: "";
    top:15px;
    left: 0px;
}
.solutionTitle h2{

    color: #FFF;
    font-family: Outfit,sans-serif;
    font-size: 35px;
    margin-top:15px;
}


.HomeBanner_heroTitle__0G7bl {
    font-size: 50px;
    color: white;
    font-weight: 600 !important;
    line-height: 70px;
}
.HomeBanner_heroSecondTitle__plpGF {
    font-weight: 600!important;
    line-height: 90px;
    word-spacing: 10px;
}

@media (max-width: 576px) {
    .sectionHeaderTitle {
        font-size: 29px;
    }
}